.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    font-size:15px;
    color:white;
    
}

.FooterLink{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    
}
