#HomePage {
    background: url(/Resources/back3.jpeg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    margin-bottom:100px;
   
}


#bitcoin {
    width: 10%;
    margin-bottom:40px;
}

#getstartedbtn {
    border-radius: 40px;
    font: bold 20px arial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0,0,160,0.6);
}
#HomePageBody {
    background-color: rgba(0,0,0,0.8);
    top: 50px;
    position: relative;
    border-radius: 70px;
}

@media (max-width: 800px) {

    #HomePage {
        height: 100vh;
        min-height:100%;
        margin-bottom:250px;
    }
    #btcdiv {
        font: bold 40px arial;
        color: orange;
        top: 50px;
        left: 40px;
    }
}
@media (min-width: 800px) {

    #btcdiv {   
        font:bold 50px arial;

        color:orange;
        top:70px;
        left:160px;
    }
}




