

@media (max-width: 800px) {

   /*Mobile*/
    th {
        font: bold 15px arial;
        color: black;
    }

    td {
        font: bold 16px Courier New;
        color: black;
        text-align:left;
    }

    .percent {
        font: bold 16px arial;
    }


}

@media (min-width: 800px) {
    /*Tablets/Computers*/
    th {
        font: bold 24px arial;
        color: black;
    }

    td {
        font: bold 20px Courier New;
        color: black;
    }

    .percent {
        font: bold 20px arial;
    }
  
}

#StatisticePage {
    background: url(/Resources/StatisticBackground.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}